* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
}
.logo {
  width: 109px;
  height: 109px;
}

header p {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  margin-left: 30px;
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
}
.container {
  background-image: url(./assets/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
}
.card-section {
  display: grid;
  align-content: center;
  justify-items: center;
}
.card-body {
  top: 0;
  background-color: #9c020480;
  text-align: center;
}
/* .card-body img {
  margin-top: 20px;
  width: 526px;
  height: 754px;
} */
.top-description {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0px;
}
.description {
  color: #f0f0f2;
  text-shadow: 0px 3px 6px #00000029;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  opacity: 1;
}
