/*Basics Page Config*/
* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  scroll-behavior: smooth;
}
/*HEADER*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
}
.logo {
  cursor: pointer;
  width: 109px;
  height: 109px;
}

header p {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  margin-left: 30px;
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
}

/*BANNER CONTENT*/
.banner {
  background-image: url(./assets/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: grid;
}
.card-section {
  display: grid;
  justify-items: center;
}
.card-body {
  top: 0;
  background-image: linear-gradient(#9c020480, #4d101045);
  text-align: center;
}

.top-description {
  text-align: left;
  padding: 10px 20px 10px 20px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0px;
}
.description {
  padding: 20px;
  text-shadow: 0px 3px 6px #00000029;
  color: #f0f0f2;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  opacity: 1;
  padding-bottom: 40px;
}

/*Scroll down button*/
.scroll-down {
  height: 47px;
  width: 28px;
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 124px;
  cursor: pointer;
  background-color: #fff;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

/*CARDS SESSIONS*/
.container {
  background-color: #363636;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.container .characters {
  border-radius: 27px;
  position: relative;
  max-width: 300px;
  height: 613px;
  background: #fff;
  margin: 30px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

.content {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #363636;
  text-align: left;
  opacity: 1;
  margin-top: 30px;
}

.container .characters .imgBx img {
  background-color: #363636;
  max-width: 100%;
  border-radius: 99px;
}
.arrow-left {
  color: red;
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-135deg);
}

/*GREEN DIV*/
.green {
  width: 100%;
  height: 713px;
  background-image: linear-gradient(to right, #7dede2, #58b790);
}
.footer {
  background-color: #363636;
  width: 100%;
  height: 410px;
}

/*FORM*/
.bg {
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  top: 1790px;
  width: 1082px;
  height: 800px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.bg-content {
  padding: 80px 143px 155px 193px;
}

.form-title {
  letter-spacing: -0.88px;
  margin-bottom: 41px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #63c7a9;
}

.form-description {
  margin-bottom: 51px;
  font-size: 20px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #363636;
}

input {
  width: 248px;
  height: 48px;
  font-family: "Open Sans", sans-serif;
  color: #363636;
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border-color: #363636;
  padding: 15px;
  display: inline-block;
  border: 1px solid #363636;
  opacity: 1;
}

.form-textarea {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  color: #363636;
  font-size: 18px;
  border-color: #363636;
  resize: none;
  display: block;
  overflow: hidden;
  height: 197px;
  width: 520px;
  border: 1px solid #363636;
  opacity: 1;
  margin-bottom: 48px;
}
.btn-sbmt {
  cursor: pointer;
  font-size: 18px;
  padding: 11px 85px 17px 90px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  background: #63c7a9 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
}
.btn-sbmt:hover {
  background: #3fb692;
}
#error_message {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #e23737;
  margin-bottom: 20px;
  padding: 0px;
  text-align: center;
  transition: all 0.5s ease;
}

/*FOOTER*/
.material-icons {
  font-weight: 200;
  font-size: 40px;
}
.scroll-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.scroll-to-top:active {
  background: #dadada;
}

/*MEDIAS QUERIES*/
@media screen and (max-width: 600px) {
  .scroll-to-top {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 570px) {
  .card-body img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .title {
    display: none;
  }
  .top-description {
    text-align: center;
  }
  .description {
    font-size: 17px;
  }
}
